#employees-container {
  margin-top: 20px;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.employee-cards {
  width: "21rem";
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 20px !important;
  box-shadow: 0px 5px 5px #ccc;
}

.employee-Btns {
  width: 150px !important;
  border-radius: 1rem;
}
